{% extends 'base.jinja2' %}

{% block subtitle %}
 <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
        <br/>
          <h2>API <small>Define the REST api to retrieve current prediction</small></h2>
      </div>
    </div>
         </div>

{% endblock subtitle %}

{% block content %}
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
          <ul>
              <li>API description</li>
              <li>sample or request generator</li>
          </ul>
      </div>
    </div>
{% endblock content %}
