{% load static %}
<html>
<head>
    <title>Tahoma Tracker </title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png'%}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'mini-default.min.css' %}">
</head>
<body>
<header class="sticky">
    <a href="{%url "home"%}" class="logo"><span id="header-logo">She Out</span></a> <label class="drawer-toggle button" for="navigation-toggle"></label>
    <a href="{%url "archive"%}" class="button hidden-sm">Archive</a>
    <a href="{%url "stats"%}" class="button hidden-sm">Stats</a>
    <a href="{%url "api"%}" class="button hidden-sm">API</a>
    <a href="{%url "sources"%}" class="button hidden-sm">Sources</a>
    <a href="https://github.com/timmyoder/tahoma-out" class="button"><i class="fa fa-github" aria-hidden="true" style="font-size: 1.3em; position: relative; bottom: -2px; margin-right: 2px;"></i>&nbsp;Github</a>
</header>
<input type="checkbox" id="navigation-toggle">
<nav class="drawer hidden-md hidden-lg">
    <label class="close" for="navigation-toggle"></label>
    <a href="{%url "home"%}"><h4 style="margin-left: 0;">Home</h4></a>
    <a href="{%url "archive"%}"><h4 style="margin-left: 0;">Archive</h4></a>
    <a href={%url "stats"%}><h4 style="margin-left: 0;">Stats</h4></a>
    <a href="{%url "api"%}"><h4 style="margin-left: 0;">API</h4></a>
    <a href={%url "sources"%}><h4 style="margin-left: 0;">Sources</h4></a>
</nav>
	<h1>{% block subtitle %} {% endblock subtitle %}</h1>
	{% block content %} {% endblock content %}
</body>
</html>
