{% load static %}
<html>
<head>
    <title>Tahoma Tracker </title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png'%}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<link>
{#<link rel="stylesheet" type="text/css" href="{% static 'tahoma_style.css' %}">#}
    <nav>
        <a class="nav-link " href={%url "home"%}>Home</a>
        <a class="nav-link " href={%url "sources"%}>Sources</a>

    </nav>
	<h1>{% block subtitle %} {% endblock subtitle %}</h1>
	{% block content %} {% endblock content %}
</body>
</html>
